body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(128, 128, 128) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.topShelf {
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.newBook {
    width: 10vw;
    height: 5vh;
    align-self: flex-end;
    border-radius: 40px 40px 10px 10px;
    background-color: rgb(96, 96, 219);
    color: rgb(224, 233, 233);
    font-weight: 600;
    font-size: 1.1rem;
    border: 1px solid rgb(18, 6, 128);
}

.newBook:active {
    background-color: rgb(67, 67, 160);
}

h1 {
    background-color: rgb(134, 36, 36);
    color: rgb(224, 233, 233);
    margin: 0;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.infoCard {
    background-color: rgb(245, 245, 220);
    display: grid;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px 10px 0 0;
    width: clamp(300px, 500px, 20vw);
    grid-template-rows: repeat(6, 1fr);
}

p {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    line-height: 0.9rem;
}

p.title {
    grid-row: 2/3;
}

p.author {
    grid-row: 3/4;
}

p.pages {
    grid-row: 4/5;
}

p.read {
    grid-row: 5/6;
}

.bookshelf {
    margin: 0;
    height: 80vh;
    width: 90vw;
    display: grid;
    background-image: linear-gradient(217deg, rgba(92, 56, 9, 0.8), rgba(109, 63, 19, 0) 70.71%),
                      linear-gradient(127deg, rgba(53, 40, 12, 0.8), rgba(75, 50, 3, 0) 70.71%),
                      linear-gradient(336deg, rgba(105, 75, 11, 0.8), rgba(53, 40, 6, 0) 70.71%);
    border-radius: 5px;
    padding: 40px;
}

.shelves {
    background-image: linear-gradient(217deg, rgba(92, 56, 9, 0.8), rgba(109, 63, 19, 0) 70.71%),
                      linear-gradient(127deg, rgba(53, 40, 12, 0.8), rgba(75, 50, 3, 0) 70.71%),
                      linear-gradient(336deg, rgba(105, 75, 11, 0.8), rgba(53, 40, 6, 0) 70.71%);
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.row1,
.row2,
.row3,
.row4 {
    background-image: linear-gradient(217deg, rgba(92, 56, 9, 0.8), rgba(109, 63, 19, 0) 70.71%),
                      linear-gradient(127deg, rgba(53, 40, 12, 0.8), rgba(75, 50, 3, 0) 70.71%),
                      linear-gradient(336deg, rgba(105, 75, 11, 0.8), rgba(53, 40, 6, 0) 70.71%);
    display: grid;
    align-items: end;
    grid-template-columns: repeat(15, 1fr);
    gap: 3px;
    padding: 0 3px;
    height: 206.59px;
}

.book {
    display: flex;
    color: white;
    writing-mode: vertical-rl;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    position: relative;
}

form {
    height: 20vh;
    width: 20vw;
    position: absolute;
    left: 40vw;
    top: 40vh;
    background-color: rgb(197, 176, 130);
    border: 5px solid rgb(68, 52, 18);
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(197, 144, 76, 0.2);
    padding: 10px;
    display: none;
    gap: 20px;
    align-items: center;
}

.inputs {
    outline: none;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.submitBook {
    width: 10vw;
    height: 3vh;
    justify-self: center;
    background-color: rgb(68, 52, 18);
    color: rgb(231, 225, 211);
    border-radius: 5px;
}

.submitBook:active {
    background-color: rgb(53, 40, 14);
}

.book .removeButton {
    background-color: rgb(94, 14, 14);
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: 0;
    padding: 0;
    writing-mode: horizontal-tb;
}